Repository iftucl/ift_coursework_2024, pull requests merged in 2025-03, with the labels that each got.

#25 Feature/coursework one team adansonia
  team_adansonia/CHANGELOG.md
  team_adansonia/README.md
  team_adansonia/__init__.py
  team_adansonia/coursework_one/Dockerfile
  team_adansonia/coursework_one/__init__.py
  team_adansonia/coursework_one/a_link_retrieval/__init__.py
  team_adansonia/coursework_one/a_link_retrieval/config/.env.template
  team_adansonia/coursework_one/a_link_retrieval/config/.gitignore
  team_adansonia/coursework_one/a_link_retrieval/config/conf.yaml
  team_adansonia/coursework_one/a_link_retrieval/config/docker-compose.yml
  team_adansonia/coursework_one/a_link_retrieval/config/pyproject.toml
  team_adansonia/coursework_one/a_link_retrieval/log.txt
  team_adansonia/coursework_one/a_link_retrieval/main.py
  team_adansonia/coursework_one/a_link_retrieval/modules/__init__.py
  team_adansonia/coursework_one/a_link_retrieval/modules/crawler/.gitkeep
  team_adansonia/coursework_one/a_link_retrieval/modules/crawler/__init__.py
  team_adansonia/coursework_one/a_link_retrieval/modules/crawler/crawler.py
  team_adansonia/coursework_one/a_link_retrieval/modules/crawler/google_api_combined_crawler.py
  team_adansonia/coursework_one/a_link_retrieval/modules/crawler/log.txt
  team_adansonia/coursework_one/a_link_retrieval/modules/crawler/sustainability_reports_beautifulsoup.py
  team_adansonia/coursework_one/a_link_retrieval/modules/minio/.gitkeep
  team_adansonia/coursework_one/a_link_retrieval/modules/minio/__init__.py
  team_adansonia/coursework_one/a_link_retrieval/modules/minio/minio_script.py
  team_adansonia/coursework_one/a_link_retrieval/modules/mongo_db/.gitkeep
  team_adansonia/coursework_one/a_link_retrieval/modules/mongo_db/__init__.py
  team_adansonia/coursework_one/a_link_retrieval/modules/mongo_db/company_data.py
  team_adansonia/coursework_one/a_link_retrieval/modules/mongo_db/queries.py
  team_adansonia/coursework_one/a_link_retrieval/modules/utils/__init__.py
  team_adansonia/coursework_one/a_link_retrieval/modules/utils/dockercheck.py
  team_adansonia/coursework_one/a_link_retrieval/modules/validation/__init__.py
  team_adansonia/coursework_one/a_link_retrieval/modules/validation/validation.py
  team_adansonia/coursework_one/a_link_retrieval/populated_tracking.json
  team_adansonia/coursework_one/a_link_retrieval/static/.gitkeep
  team_adansonia/coursework_one/a_link_retrieval/test/jenkins_test.py
  team_adansonia/coursework_one/a_link_retrieval/test/test_crawler.py
  team_adansonia/coursework_one/a_link_retrieval/test/test_example_test_this_function.py
  team_adansonia/coursework_one/mongo-seed/seed_data.json
  team_adansonia/coursework_one/scheduler/jenkins/config.xml
  team_adansonia/coursework_one/scheduler/jenkins/jobs/1_populate_database/config.xml
  team_adansonia/coursework_one/scheduler/jenkins/jobs/2_get_latest_report/config.xml
Labels: adansonia

#26 Big Data Coursework Sakura
  team_sakura/CHANGELOG.md
  team_sakura/coursework_one/Dockerfile
  team_sakura/coursework_one/Dockerfile_Jenkins
  team_sakura/coursework_one/Dockerfile_pipeline
  team_sakura/coursework_one/README.md
  team_sakura/coursework_one/a_pipeline/README.md
  team_sakura/coursework_one/a_pipeline/config/.env.template
  team_sakura/coursework_one/a_pipeline/config/conf.yaml
  team_sakura/coursework_one/a_pipeline/config/docker-compose.yml
  team_sakura/coursework_one/a_pipeline/main.py
  team_sakura/coursework_one/a_pipeline/modules/__init__.py
  team_sakura/coursework_one/a_pipeline/modules/db_loader/.gitkeep
  team_sakura/coursework_one/a_pipeline/modules/db_loader/mongo_db.py
  team_sakura/coursework_one/a_pipeline/modules/db_loader/sqlite_loader.py
  team_sakura/coursework_one/a_pipeline/modules/minio_writer/.gitkeep
  team_sakura/coursework_one/a_pipeline/modules/minio_writer/minio_client.py
  team_sakura/coursework_one/a_pipeline/modules/url_parser/.gitkeep
  team_sakura/coursework_one/a_pipeline/modules/url_parser/api.py
  team_sakura/coursework_one/a_pipeline/modules/url_parser/app.py
  team_sakura/coursework_one/a_pipeline/modules/url_parser/extract_year.py
  team_sakura/coursework_one/a_pipeline/modules/url_parser/templates/filter.html
  team_sakura/coursework_one/a_pipeline/test/testing.py
  team_sakura/coursework_one/pyproject.toml
Labels: sakura

#21 Team_Salix
  team_Salix/CHANGELOG.md
  team_Salix/README.md
  team_Salix/coursework_one/README.md
  team_Salix/coursework_one/a_pipeline/modules/__init__.py
  team_Salix/coursework_one/a_pipeline/modules/main.py
  team_Salix/coursework_one/a_pipeline/modules/notfoundclean.py
  team_Salix/coursework_one/b_pipeline/modules/__init__.py
  team_Salix/coursework_one/b_pipeline/modules/check_pdf.py
  team_Salix/coursework_one/b_pipeline/modules/main.py
  team_Salix/coursework_one/b_pipeline/modules/remove_damaged.py
  team_Salix/coursework_one/docs/Makefile
  team_Salix/coursework_one/docs/make.bat
  team_Salix/coursework_one/docs/source/api.rst
  team_Salix/coursework_one/docs/source/api/index.rst
  team_Salix/coursework_one/docs/source/architecture.rst
  team_Salix/coursework_one/docs/source/conf.py
  team_Salix/coursework_one/docs/source/index.rst
  team_Salix/coursework_one/docs/source/installation.rst
  team_Salix/coursework_one/docs/source/modules/a_pipeline.rst
  team_Salix/coursework_one/docs/source/modules/b_pipeline.rst
  team_Salix/coursework_one/docs/source/modules/index.rst
  team_Salix/coursework_one/docs/source/modules/scheduler.rst
  team_Salix/coursework_one/docs/source/modules/upload_to_minio.rst
  team_Salix/coursework_one/docs/source/testing.rst
  team_Salix/coursework_one/docs/source/usage.rst
  team_Salix/coursework_one/poetry.lock
  team_Salix/coursework_one/pyproject.toml
  team_Salix/coursework_one/pytest.ini
  team_Salix/coursework_one/scheduler.py
  team_Salix/coursework_one/tests/__init__.py
  team_Salix/coursework_one/tests/a_pipeline/__init__.py
  team_Salix/coursework_one/tests/a_pipeline/modules/__init__.py
  team_Salix/coursework_one/tests/a_pipeline/modules/test_main.py
  team_Salix/coursework_one/tests/b_pipeline/__init__.py
  team_Salix/coursework_one/tests/b_pipeline/modules/__init__.py
  team_Salix/coursework_one/tests/b_pipeline/modules/test_main.py
  team_Salix/coursework_one/tests/conftest.py
  team_Salix/coursework_one/tests/mock_data/cleaned_url.csv
  team_Salix/coursework_one/tests/test_upload_to_minio.py
  team_Salix/coursework_one/upload_to_minio.py
  team_Salix/docker-compose.yml
Labels: salix

#24 Coursework one wisteria
  team_wisteria/CHANGELOG.md
  team_wisteria/coursework_one/Dockerfile
  team_wisteria/coursework_one/README.md
  team_wisteria/coursework_one/a_pipeline/README.md
  team_wisteria/coursework_one/a_pipeline/config/conf.yaml
  team_wisteria/coursework_one/a_pipeline/config/reqiurement.txt
  team_wisteria/coursework_one/a_pipeline/main.py
  team_wisteria/coursework_one/a_pipeline/modules/__init__.py
  team_wisteria/coursework_one/a_pipeline/modules/db_loader/.gitkeep
  team_wisteria/coursework_one/a_pipeline/modules/db_loader/crawler.py
  team_wisteria/coursework_one/a_pipeline/modules/db_loader/test_crawler.py
  team_wisteria/coursework_one/a_pipeline/modules/url_parser/.gitkeep
  team_wisteria/coursework_one/a_pipeline/modules/url_parser/database.py
  team_wisteria/coursework_one/a_pipeline/static/.gitkeep
  team_wisteria/coursework_one/a_pipeline/static/nasdaq.csv
  team_wisteria/coursework_one/a_pipeline/test/miniotest.py
  team_wisteria/coursework_one/a_pipeline/test/test_postgres_storage.py
  team_wisteria/coursework_one/b_pipeline/README.md
  team_wisteria/coursework_one/b_pipeline/config/conf.yaml
  team_wisteria/coursework_one/b_pipeline/main.py
  team_wisteria/coursework_one/b_pipeline/modules/__init__.py
  team_wisteria/coursework_one/b_pipeline/modules/db_loader/.gitkeep
  team_wisteria/coursework_one/b_pipeline/modules/minio_writer/.gitkeep
  team_wisteria/coursework_one/b_pipeline/modules/url_parser/.gitkeep
  team_wisteria/coursework_one/b_pipeline/static/.gitkeep
  team_wisteria/coursework_one/b_pipeline/test/test_example_test_this_function.py
  team_wisteria/coursework_one/c_pipeline/README.md
  team_wisteria/coursework_one/c_pipeline/config/conf.yaml
  team_wisteria/coursework_one/c_pipeline/main.py
  team_wisteria/coursework_one/c_pipeline/modules/__init__.py
  team_wisteria/coursework_one/c_pipeline/modules/db_loader/.gitkeep
  team_wisteria/coursework_one/c_pipeline/modules/minio_writer/.gitkeep
  team_wisteria/coursework_one/c_pipeline/modules/url_parser/.gitkeep
  team_wisteria/coursework_one/c_pipeline/static/.gitkeep
  team_wisteria/coursework_one/c_pipeline/test/test_example_test_this_function.py
  team_wisteria/coursework_one/docs/Makefile
  team_wisteria/coursework_one/docs/make.bat
  team_wisteria/coursework_one/docs/source/api_reference.rst
  team_wisteria/coursework_one/docs/source/architecture.rst
  team_wisteria/coursework_one/docs/source/conf.py
  team_wisteria/coursework_one/docs/source/images/architecture.png
  team_wisteria/coursework_one/docs/source/index.rst
  team_wisteria/coursework_one/docs/source/installation.rst
  team_wisteria/coursework_one/docs/source/usage.rst
  team_wisteria/coursework_one/pyproject.toml
  team_wisteria/coursework_one/pythonProject1/.idea/.gitignore
  team_wisteria/coursework_one/pythonProject1/.idea/inspectionProfiles/profiles_settings.xml
  team_wisteria/coursework_one/pythonProject1/.idea/misc.xml
  team_wisteria/coursework_one/pythonProject1/.idea/modules.xml
  team_wisteria/coursework_one/pythonProject1/.idea/pythonProject1.iml
  team_wisteria/coursework_one/pythonProject1/requirements.txt
Labels: wisteria

#6 Team jacaranda
  team_jacaranda/CHANGELOG.md
  team_jacaranda/coursework_one/Dockerfile.txt
  team_jacaranda/coursework_one/README.md
  team_jacaranda/coursework_one/__init__.py
  team_jacaranda/coursework_one/config/conf.yaml
  team_jacaranda/coursework_one/main.py
  team_jacaranda/coursework_one/modules/__init__.py
  team_jacaranda/coursework_one/modules/create_table.py
  team_jacaranda/coursework_one/modules/db/company_pdf_links.json
  team_jacaranda/coursework_one/modules/integrate_urls.py
  team_jacaranda/coursework_one/modules/kafka_minio_integration.py
  team_jacaranda/coursework_one/modules/kafka_producer.py
  team_jacaranda/coursework_one/modules/website_google.py
  team_jacaranda/coursework_one/poetry.lock
  team_jacaranda/coursework_one/pyproject.toml
  team_jacaranda/coursework_one/static/.gitkeep
  team_jacaranda/coursework_one/test/00_Structure.txt
  team_jacaranda/coursework_one/test/01_Unit.py
  team_jacaranda/coursework_one/test/02_Integration.py
  team_jacaranda/coursework_one/test/03_e2e.py
  team_jacaranda/coursework_one/test/04_Conftest.py
  team_jacaranda/coursework_one/test/__init__.py
  team_jacaranda/coursework_two/.gitkeep
Labels: jacaranda
